.inicio-container {
    padding: 20px;
    text-align: center;
}

.empresas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.empresa-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.empresa-card {
    background-color: #d4edda;

}

.empresa-card.nuevo {
    background-color: #fff3cd;
   
}



.empresa-imagen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 50%;
    /* Borde redondeado */
}

.empresa-info {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.empresa-info label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.empresa-info input {
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* Bordes redondeados */
    background-color: #eee;
}

.empresa-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.empresa-buttons button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    /* Bordes redondeados */
    cursor: pointer;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    margin: 5px;
}

.empresa-buttons button:nth-child(2) {
    background-color: #dc3545;
}

.empresa-buttons button:nth-child(3) {
    background-color: #007bff;
}

.empresa-buttons button:nth-child(4) {
    background-color: #ffd320;
}

.empresa-buttons button:hover {
    opacity: 0.8;
}